.container {
  width: 1000px;
  margin: 0 auto;
}

.container > div {
  margin: 100px 0;
}

.progress-bar {
  height: 20px;
  background: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar .bar {
  height: 100%;
  background: #007bff;
  width: 0;
}